<div class="container-fluid" id="header">
  <div class="row bg-light">
    <header class="col-sm-12">
        <h1 class="text-center">StartTalk</h1>
    </header>
  </div>
</div>

<div class="container-fluid" id="body">
  <div class="row">
    <aside class="col-sm-3 bg-success">
      <h3>Canales</h3>
        <ul class="list-group">
          <li class="list-group-item">Ingles</li>
          <li class="list-group-item">Frances</li>
          <li class="list-group-item">Espa&ntilde;ol</li>
          <li class="list-group-item">Frances</li>
          <li class="list-group-item">Ruso</li>
          <button (click)="showChannels()">Mostrar</button>
        </ul>
        <br>
    </aside>
    <div class="col-sm-9">
      <h3 class="text-left">Chat</h3>
    </div>
  </div>
</div>

